body {
  /* setting website font */
  font-family: "Titillium Web", sans-serif;
  background-color: #f9fbfd;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
}

.subtitle {
  padding: 10px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-size: x-large;
}

#today-date {
  padding: 10px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-size: x-large;
}

.top-result {
  display: none;
}

.display-cities {
  margin-top: 20px;
}

.top-section {
  border-radius: 25px;
  border: 2px solid #73ad21;
  padding: 20px;
}

.forecast-section {
  border-radius: 25px;
  border: 2px solid;
  padding: 20px;
  margin-top: 10px;
  background-color: #bc70a4;
  color: white;
}

.grad {
  background-image: linear-gradient(
    140deg,
    #eadedb 0%,
    #bc70a4 50%,
    #bfd641 75%
  );
}

.btn-green {
  background-color: #73ad21;
  border-color: #73ad21;
}

.btn-city {
  background-color: #c09a87;
  border-color: #c09a87;
}

#uv-data {
  padding: 5px;
  color: white;
}

@media screen and (max-width: 576px) {
  .display-five {
    display: flex;
    flex-direction: column;
  }

  .top-result {
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .display-five {
    display: flex;
    flex-direction: column;
  }

  .top-result {
    margin-top: 20px;
  }
}
